<div class="content-body">
  <div class="container-fluid">
    <div class="col">
      <div class="card">
        {{#if message}}
          <div class="alert alert-success" role="alert">
            {{message.success}}
          </div>
        {{/if}}
        <div class="card-title text-center pt-5">
          <h4>DANH SÁCH DANH MỤC </h4>

        </div>
        <div class="card-body">

          <div class="table-responsive">
            <table
              class="table table-bordered text-center"
              style="color: #4d4d4d"
            >
              <thead>
                <tr>
                  <th>#</th>
                  <th>Tên danh mục</th>
                  <th>Mô tả</th>
                  <th>Trạng thái</th>
                  <th>Ngày tạo</th>
                  <th>Thao tác</th>
                </tr>
              </thead>
              <tbody>
                {{#each cate}}
                  <tr>
                    <th scope="row">{{incremented @index}}</th>
                    <td>{{this.tendanhmuc}}</td>
                    <td>{{this.mota}}</td>
                    <td>
                      {{#ifCond this.trangthai 1}}
                        <span
                          class="badge badge-success"
                          style="color: white;"
                        >Hiển thị</span>
                      {{else}}
                        <span class="badge badge-danger">Ẩn</span>
                      {{/ifCond}}
                    </td>
                    <td>{{dateFormat
                        this.createdAt
                        "dddd, DD-MM-YYYY HH:mm"
                      }}</td>
                    <td><a
                        href="/admin/category/{{this._id}}/edit"
                        class="btn btn-xs btn-warning"
                      >
                        <i alt="Edit" class="fa fa-pencil"> Thay đổi</i></a>
                      <form
                        class="delete"
                        action="/admin/category/{{this._id}}?_method=DELETE"
                        method="POST"
                        style="display: inline;"
                      >
                        <button
                          type="submit"
                          class="btn btn-xs btn-danger"
                          name="delete-contact"
                        >
                          <i alt="Delete" class="fa fa-trash"> Xoá</i>
                        </button>
                      </form>
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
            {{! Alert }}
            <div id="delete-confirm" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Thông báo</h4>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                    >&times;</button>
                  </div>
                  <div class="modal-body">Bạn có chắc muốn xoá danh mục này?</div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      data-dismiss="modal"
                      class="btn btn-danger"
                      id="delete"
                    >Xoá</button>
                    <button
                      type="button"
                      data-dismiss="modal"
                      class="btn btn-default"
                    >Huỷ bỏ</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>