<div class="content-body">
  <div class="container-fluid">
    {{#if success}}
      <div class="row d-flex justify-content-center">
        <div class="alert alert-success alert-success fade show" role="alert">
          Bạn đã thêm thành công danh mục mới
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    {{/if}}
    <div class="col">
      <div class="card">
        <div class="card-title text-center pt-5">
          <h4>DANH SÁCH KHÁCH HÀNG </h4>

        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table
              class="table table-bordered text-center"
              style="color: #4d4d4d"
            >
              <thead>
                <tr>
                  <th>#</th>
                  <th>Tên khách hàng</th>
                  <th>Trạng thái</th>
                  <th>Số đơn hàng</th>
                  <th>Ngày tạo</th>
                  <th>Thao tác</th>
                </tr>
              </thead>
              <tbody>
                {{#each customer}}
                  <tr>
                    <th scope="row">{{incremented @index}}</th>
                    <td>{{this.hoten}}</td>
                    <td>
                      {{#ifCond this.tinhtrang 1}}
                        <span
                          class="badge badge-success"
                          style="color: white;"
                        >Đang sử dụng</span>
                      {{else}}
                        <span class="badge badge-danger">Khoá</span>
                      {{/ifCond}}
                    </td>
                    <td>
                     {{this.CountOrder}}
                    </td>
                    <td>{{dateFormat this.createdAt "dddd, DD-MM-YYYY HH:mm"}}</td>
                    <td><a
                        href="/admin/brand/{{this._id}}/edit"
                        class="btn btn-xs btn-warning"
                      >
                        <i alt="Edit" class="fa fa-pencil"> Thay đổi</i></a>
                      <form
                        class="delete"
                        action="/admin/brand/{{this._id}}?_method=DELETE"
                        method="POST"
                        style="display: inline;"
                      >
                        <button
                          type="submit"
                          class="btn btn-xs btn-danger"
                          name="delete-contact"
                        >
                          <i alt="Delete" class="fa fa-trash"> Xoá</i>
                        </button>
                      </form>
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
            {{! Alert }}
            <div id="delete-confirm" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Thông báo</h4>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                    >&times;</button>
                  </div>
                  <div class="modal-body">Bạn có chắc muốn xoá khách hàng này?</div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      data-dismiss="modal"
                      class="btn btn-danger"
                      id="delete"
                    >Xoá</button>
                    <button
                      type="button"
                      data-dismiss="modal"
                      class="btn btn-default"
                    >Huỷ bỏ</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>